@import '../variables.scss';

.trailer-box {
    background-color: red;
    box-shadow:$box-shadow;
    border-radius: 25px;
    padding: 15px;
    width: 70%;
    margin: 20px auto;
}

.trailer {
    margin: 20px auto;
    display: block;
    box-shadow:4px 4px 0px 0px white;
}